.header {
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    border-bottom: 1px solid #E5E5E5;
    padding: 10px 200px;
}

.controls {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
    background-color: #F9F9F9;
}

.consoleWrapper {
    position: relative;
    display: flex;
    flex: 1;
    overflow: scroll;
    // scroll-behavior: smooth;
    background-color: #121212;
    padding: 20px;
}

.console {
    display: flex;
    flex-direction: column;
    color: #6DFF4A;
    position: absolute;
    font-size: 16px;
    line-height: 21px;
}

.warning {
    color: gold;
}